.cell {
  background-color: black;
  display: inline-block;
}

#main{
  align-items: center;
  display:flex;
  flex-direction: column;
  margin-top: 30px;
}

#reset-btn{
  cursor: pointer;
  margin-bottom: 30px;
  padding: 10px 30px;
  font-size: 15px;
  background-color: hsla(90, 60%, 53%, 1);
  border: 0;
}

#reset-btn:focus{
  outline-width: 0;
}

.shadowed-btn{
  box-shadow: 3px 3px;
}

#reset-btn:active{
  box-shadow: none;
  margin: 3px 0px 0px 3px;
}
